RewriteEngine On

# Eğer istek mevcut bir dosyaya gitmiyorsa
RewriteCond %{REQUEST_FILENAME} !-f
# Eğer istek mevcut bir dizine gitmiyorsa
RewriteCond %{REQUEST_FILENAME} !-d
# İstekleri index.php üzerinden yönlendir
RewriteRule ^(.*)$ index.php?route=$1 [QSA,L]